<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa6pGZdN-nirfBZvVxv0RKa-xz7fnHYEs</string>
	<key>GCM_SENDER_ID</key>
	<string>537144924449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cropDiseaseDetection.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crop-disease-detection-33270</string>
	<key>STORAGE_BUCKET</key>
	<string>crop-disease-detection-33270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537144924449:ios:6c530bc56ee359fedd8660</string>
</dict>
</plist>